<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>composer packages</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/darkstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
{% include 'header.twig' %}
{% block content %}
    <div id="content" class="container">
        {% if packages is empty %}
            <div class="info">no packages found!</div>
        {% else %}
            {% include('all-packages.twig') %}
            {% include('packages-by-project.twig') %}
            {% include('projects-by-package.twig') %}
        {% endif %}
    </div>
{% endblock %}
{% include 'footer.twig' %}
</body>
</html>
