<h2 id="packages-by-project">Packages by project</h2>
{% for projectName, projectPackages in projects %}
    {% if projectPackages is not empty %}
        <div class="well">
            <fieldset>
                <legend class="item-name">
                    <a href="{{ directory[projectName].githubUrl }}">{{ projectName }}</a>
                </legend>
                {% for projectPackage in projectPackages %}
                    <a class="internal"
                       href="#{{ projectPackage|replace({'/': '-'}) }}">{{ projectPackage }}</a>{% if loop.index != projectPackages|length %}, {% endif %}
                {% endfor %}
            </fieldset>
        </div>
    {% endif %}
{% endfor %}