<a name="{{ name }}"></a>
<h2>{{ label }}</h2>
{% for key, value in items %}
    {% if value is not empty %}
        <div class="well">
            <fieldset>
                <legend class="item-name">{{ key }}</legend>
                {{ value|keys|join(', ') }}
            </fieldset>
        </div>
    {% endif %}
{% endfor %}
