a,a:hover {
    color:#4183C4;
}

a.internal, a.internal:hover {
    color:#DD872F;
    font-weight:bold;
}

#content {
    margin-top:50px;
}

.last-update {
    font-style: italic;
    position: fixed;
    width:180px;
    top:15px;
    left:15px;
}

caption {
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    font-weight:bold;
    background:#666666;

}