a,a:hover {
    color:#33BB1E;
}

legend a, legend a:hover {
    color:#1B7F0B;
}

.target {
    border-top:50px solid transparent;
    margin-top:-50px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}

#content {
    margin-top:50px;
}

.last-update {
    font-style: italic;
}